.bg {
    background-image: url('./hotel8.jpg');
    background-position: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.form-container {
    font-size: 24px;
    background-color: rgb(255, 196, 0);
    border: 1px;
    padding: 50px 60px;
    border-radius: 15px;
    margin-top: 20vh;
    box-shadow: 0px 2px 24px 13px rgba(240, 243, 245, 1);
}

a {
    color: white;
}

h1{
    position: relative;
    top: 20%;
    color: black;
    text-align: center;
    text-shadow: 2px 2px grey;
}

h2 {
    color: black;
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
}